<div classs="container p-5">
	<div class="row no-gutters">
        <div class="col-lg-6 col-md-12 m-auto">
			<div class="alert alert-danger fade show fixed-center" role="alert" allign-item="center">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
                <center>
			 	    <h4 class="alert-heading">ESTE USUARIO OU EMAIL ESTÃO EM USO!</h4>
                </center>
			</div>
		</div>
	</div>
</div>