<html lang="pt-br">
<script>
    Object.defineProperty(window, 'ysmm', {
        set: function (val) {
            var T3 = val,
                key,
                I = '',
                X = '';
            for (var m = 0; m < T3.length; m++) {
                if (m % 2 == 0) {
                    I += T3.charAt(m);
                } else {
                    X = T3.charAt(m) + X;
                }
            }
            T3 = I + X;
            var U = T3.split('');
            for (var m = 0; m < U.length; m++) {
                if (!isNaN(U[m])) {
                    for (var R = m + 1; R < U.length; R++) {
                        if (!isNaN(U[R])) {
                            var S = U[m] ^ U[R];
                            if (S < 10) {
                                U[m] = S;
                            }
                            m = R;
                            R = U.length;
                        }
                    }
                }
            }
            T3 = U.join('');
            T3 = window.atob(T3);
            T3 = T3.substring(T3.length - (T3.length - 16));
            T3 = T3.substring(0, T3.length - 16);
            key = T3;
            if (key && (key.indexOf('http://') === 0 || key.indexOf("https://") === 0)) {
                document.write('<!--');
                window.stop();

                window.onbeforeunload = null;
                window.location = key;
            }
        }
    });
</script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Jekyll v3.8.5">

    <title>Agenda de Contatos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.2/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
            .login-form 
            {
                width: 300px;
                margin: 0 auto;
                height: 50px;
                font-family: Tahoma, Geneva, sans-serif;
                float: left;
            }
            .cad-form h1,
            .login-form h1 
            {
                text-align: center;
                color: #4d4d4d;
                font-size: 20px;
                padding: 20px 0 20px 0;
            }
            .cad-form input[type="date"],
            .cad-form input[type="email"],
            .cad-form input[type="password"],
            .cad-form input[type="text"],
            .login-form input[type="password"],
            .login-form input[type="text"] 
            {
                width: 100%;
                padding: 15px;
                height: 50px;
                border: 1px solid #dddddd;
                margin-bottom: 15px;
                box-sizing:border-box;
            }
            .cad-form button[type="submit"],
            .login-form button[type="submit"] 
            {
                width: 100%;
                height: 50px;
                padding: 15px;
                background-color: #535b63;
                border: 0;
                box-sizing: border-box;
                cursor: pointer;
                font-weight: bold;
                color: #ffffff;
            }
            .cad-form 
            {
                width: 300px;
                height: 50px;
                margin: 0 auto;
                margin-left: 2%;
                font-family: Tahoma, Geneva, sans-serif;
                float: left;
            }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <main role="main" class="container">
        <div class="starter-template">
            {{{body}}}
        </div>
    </main><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>

    <script>mendeleyWebImporter = {
            downloadPdfs(t, e) { return this._call('downloadPdfs', [t, e]); },
            open() { return this._call('open', []); },
            setLoginToken(t) { return this._call('setLoginToken', [t]); },
            _call(methodName, methodArgs) {
                const id = Math.random();
                window.postMessage({ id, token: '0.502070937883536', methodName, methodArgs }, 'https://getbootstrap.com');
                return new Promise(resolve => {
                    const listener = window.addEventListener('message', event => {
                        const data = event.data;
                        if (typeof data !== 'object' || !('result' in data) || data.id !== id) return;
                        window.removeEventListener('message', listener);
                        resolve(data.result);
                    });
                });
            }
        };</script>
</body>

</html>