<div class="starter-template">
{{> barra}}
{{#with findPerfil}}<br>
        <h1 class="text-center">Perfil de {{userUser}}</h1><br>
<div class="container">
    <div class="d-flex justify-content-center" allign="center">
        <span class="border">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td width="300px" height="100px">NOME: <b>{{nomeUser}}</b></td><td width="300px" height="100px">EMAIL: <b>{{emailUser}}</b></td>
                                </tr>
                                <tr>
                                    <td width="300px" height="100px">TELEFONE: <b>{{telefoneUser}}</b></td><td  class="dates" width="300px" height="100px">DATA DE NASCIMENTO: <b>{{#formatDate nascUser}}{{/formatDate}}</b></td>
                                </tr>                                
                                <tr>
                                    <td width="300px" height="100px">Idade: <b>{{#teste nascUser}}{{/teste}}</b></td><td  class="dates" width="300px" height="100px"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
        </span>
    </div>
</div>
{{/with}}
</div>